* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
header {
    background-color: black;
  }
  header #contacto {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
  }

  header nav#sociales {
    width: 50%;
  }
  header nav#ppal {
    width: 80%;
  }

  header figure {
    width: 20%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
  header h1 {
    display: none;
  }
  header figure h4 {
    display: block;
    color: white;
    font-size: 20px;
  }