*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
body{
    background-color: grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
@media (min-width: 0px) and (max-width: 599px) {
    header{
        background-color: red;
    }
    main{
        background-color: green;
    }
    main article{
        background-color: antiquewhite;
        color:white;
    }
    
}
@media (min-width: 600px) and (max-width: 899px) {
    header{
        background-color: red;
    }
    main{
        background-color: green;
    }
    main article{
        background-color: blue;
    }
    
}
@media (min-width: 900px) and (max-width: 1250px) {
    header{
        background-color: yellow;
        height: 200px;
    }
    main{
        background-color: green;
    }
    main article{
        background-color: black;
        color:blue;
        border-radius:20px  ;
    }
    
}