* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: RGB(234, 237, 237);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Calibri";
}
html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
/* main { 
   background-color: grey;
  background-image: url(../img/anillosdelpoder.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  padding-bottom: 150px; 
} */

/* header figure{
      
       width: 15%; 
       display: flex;
       justify-content: center;
       align-items: center;
      
    } */

header nav#nav1 {
  /* background-color: red;  */
  display: flex;
  align-items: center;
  flex-flow:row wrap;
  width: 100%;
  background-color: RGB(19, 25, 33);
  padding-bottom: 10px;
}
header nav#nav1 img{
  /* background-color: green; */
  width: 250px;
  padding-top: 20px;
}
header nav#nav2 {
  background-color: RGB(35, 47, 62);
  width: 100%;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* height: 50px; */
  padding: 10px; /*DETERMINAMOS EL HEIGHT CON UN PADDING PORQUE SI NO SE NOS VA A TOMAR PORCULO TODO*/
  padding-left: 5px;
}

header nav#nav2 a {
  margin-right: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.712);
  padding-left: 10px;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


nav#nav1 input {
  width: 30%;
  height: 50px;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 30px;
  background-image: url(../img/lupa.png);
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width:650px) {
  nav#nav1 input {
    width: 50%;
   
  }
  
}


nav#nav1 a {
  /* background-color: red; */
  margin-right: 10px;
  padding: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.712);
  font-size: 15px;
}
/* @media (max-width:1300px){
        img{
            height:62px;
           
        
        } 
    } */

header nav a:after {
  content: "";
  background-color: lightseagreen;
  display: block;
  height: 3px;
  width: 0%;
  border-radius: 10px;
  transition: 0.3s;
}

header nav a:hover:after {
  width: 100%;
}
header nav#nav1 a:hover {
  color: white;
}

header div a:after {
  content: "";
  background-color: lightseagreen;
  display: block;
  height: 3px;
  width: 0%;
  border-radius: 10px;
  transition: 0.3s;
}

header div a:hover:after {
  width: 100%;
}
header div a:hover {
  color: white;
}

.todo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cajas {
  min-height: max-content; /*Muy importante para evitar que la imagen se salga de la caja*/
  width: 300px;
  background-color: white;
  margin: 15px;
  padding: 15px;
  /* width: 330px;
    height: 400px; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 10px;
  box-shadow: 5px 5px 18px;

  /* overflow:hidden; */
  /* padding-bottom: 15%; */
  /* overflow: scroll; */
}
.cajas-dobles {
  min-height: 270px; /*Muy importante para evitar que la imagen se salga de la caja*/
  width: 300px;
  background-color: white;
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 18px;
}
.cajas-dobles img {
  width: 120px;
  height: 120px;
  /* max-width: 100%;
max-height: 90%; */
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.cajas-dobles h2 {
  width: 100%;
}
.cajas img {
  width: 100%;
  height: 230px;
  /* max-width: 100%;
max-height: 90%; */
  border-radius: 10px;
}
.cajas h2 {
  /* min-height: 10%; */
  padding-bottom: 15px;
  /* background-color: red; */
}
.cajas,
.cajas-dobles {
  /*Para que al quitar el cursor vuelva a su posicion original de forma progresiva*/
  transition: all 0.5s;
}
.cajas:hover,
.cajas-dobles:hover {
  transform: scale(1.08);
}
article a {
  text-decoration: none;
}

/* 
.sec-menu {
  padding: 10px;
  padding-top: 20px;
  background-color: white;
  margin: 10px;

}
.sec-menu-img{
  display: flex;
  flex-flow:nowrap row ;
  overflow: auto;
  margin: 20px;

}
.sec-menu img{
margin-right: 10px;
width: 180px;
height: 180px;
border-radius: 100%;
background-image: red;

} */

.todocir {
  background-color: white;
  display: flex;
  overflow: auto;
  margin: 15px;
}
.circulo {
  padding-top: 55px;
  cursor: pointer;
}
.container {
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  background-color: RGB(19, 25, 33);
  margin: 10px;
}
.container img {
  width: 100%;
  height: 100%;

  /* height: auto; */
  transition: all 0.5s;
}
.capa {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  /* top: -100%; */
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.capa a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}


.container:hover img {
  transform: scale(1.09);
}
.container:hover .capa {
  top: 0;
}

.titcir {
  position: absolute;
  padding: 10px;
  /* background-color: red; */
  width: 90%; /*No poner un 100% porque sale una barra de desplazamiento horizontal que da puto asco visual*/
  height: max-content;
}

.titcir a {
  text-decoration: none;
  /* background-color: red; */
}

.slider {
  width: 100%;
  height: 100%;
  animation: slider 30s infinite;
  background-image: url(../img/anillosdelpoder.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  padding-bottom: 150px;
}

/* @keyframes slider {
  
  25%{
    background-image: url(../img/fondo2.jpg);
  }
  50%{
    background-image: url(../img/fondo3.jpg);
  }
  75%{
    background-image: url(../img/fondo4.jpg);
  }
  100%{
    background-image: url(../img/anillosdelpoder.jpg);
  }
} */

video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /*PERMITE QUE LAS CAJAS SE PONGAN ENCIMA DEL VIDEO*/
  position: absolute;
  object-fit: cover;
}

main {
  width: 100%;
  height: auto;
  position: relative; /*Muy importante para que el video no se desborde*/
  /* overflow: hidden; */
}
.cartel img {
  width: 1300px;
  height: 380px;
}
.cartel {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .cartel img {
    width: 500px;
    height: 150px;
  }
}
.container-cuadrado {
  width: 400px;
  height: 240px;
  /* background-color: RGB(19, 25, 33); */
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container-cuadrado h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.container-cuadrado img {
  width: 60%;
  height: 90%;
  padding: 10px;
}
.todocir-cuadrado {
  height: 380px; /*la altura de el texto con los cuadrados*/
  background-color: white;
  display: flex;

  overflow: auto;

  /* overflow-y: hidden; Quitamos el scroll Y que es el vertical */

  margin: 15px;
}
.info-cuadrado {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  background-color: none;
  width: 100%;
}
.info-cuadrado p {
  background-color: #cc0c39;
  color: white;
  border-radius: 3px;
  padding: 5px;
  width: max-content;
  margin-right: 5px;
}
.info-cuadrado h3 {
  color: #d20c39;
}
button {
  background-color: RGB(55, 71, 90);
  width: 100%;
  color: white;
  height: 50px;
  font-size: 17px;
  border: none;
}
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: RGB(35, 47, 62);
}
/* footer nav#allfooter{
  display: flex;
} */

footer nav#conocenos {
  width: 250px;
  padding: 40px;
  display: flex;
  flex-flow: column wrap;
}
footer nav#conocenos a {
  color: rgb(195, 195, 195);
  text-decoration: none;
  padding-bottom: 10px;

}

footer nav#conocenos a:hover {
  text-decoration: underline;
}
footer nav#ganadinero a:hover {
  text-decoration: underline;
}
footer nav#pagos a:hover {
  text-decoration: underline;
}
footer nav#ayuda a:hover {
  text-decoration: underline;
}

footer nav#conocenos h2 {
  color: white;
  padding-bottom: 10px;
}
footer nav#ganadinero {
  display: flex;
  flex-flow: column wrap;
  width: 250px;
  padding: 40px;
}
footer nav#ganadinero a {
  color: rgb(195, 195, 195);
  text-decoration: none;
  padding-bottom: 10px;

}

footer nav#ganadinero h2 {
  color: white;
  padding-bottom: 10px;
}
footer nav#pagos {
  display: flex;
  flex-flow: column wrap;
  width: 250px;
  padding: 40px;
}
footer nav#pagos a {
  color: rgb(195, 195, 195);
  text-decoration: none;
  padding-bottom: 10px;

}
footer nav#pagos h2 {
  color: white;
  padding-bottom: 10px;
}
footer nav#ayuda {
  display: flex;
  flex-flow: column wrap;
  width: 250px;
  padding: 40px;
}
footer nav#ayuda a{
  color: rgb(195, 195, 195);
  text-decoration: none;
  padding-bottom: 10px
}
footer nav#ayuda h2 {
  color: white;
  padding-bottom: 10px;
}
footer figure {
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: center;
  /* padding-bottom: 20px; */
  padding-top: 50px;
  border-top: solid RGB(58, 69, 83);
  border-width: 0.1px;
  /* background-color: red; */
}
footer figure img {
  width: 100px;
  height: 30px;
}
footer nav#paises {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 60%;
  margin-bottom: 20px;
}

footer nav#paises a {
  color: white;
  margin-right: 15px;
  padding-bottom: 7px;
  font-weight: lighter;
  text-decoration: none;
}
footer nav#paises a:hover {
  text-decoration: underline;
}

footer section {
  background-color: #131a22;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
footer section article {
  color: rgba(255, 255, 255, 0.801);
  margin-right: 65px;
  width: 250px;
  font-size: 17px;
  margin: 12px;
}
section#politica {
  color: white;
  display: flex;
  flex-flow: row wrap;
  padding-top: 30px;
}
section#politica h4 {
  margin-right: 20px;
}
section#politica h5 {
  margin-right: 20px;
}

footer section article h6 {
  color: RGB(140, 147, 153);
}
footer marquee{
  background-color: RGB(19, 26, 34);
  width: 100%;
}
footer marquee h4{
  color: white;
  background-color: RGB(19, 26, 34);
  width: 100%;
  text-align: center;
}
@media (max-width: 450px) {
  .cajas {
    min-height: 150px;
    width: 150px;
  }
  .cajas img {
    width: 100%;
    height: 120px;
  }
  .cajas h2 {
    font-size: 20px;
  }
  .cajas-dobles {
    min-height: 150px;
    width: 250px;
  }
  .cajas-dobles img {
    width: 100px;
    height: 120px;
  }
  .cajas-dobles h2 {
    width: 100%;
    font-size: 25px;
  }
}
