nav{
    background-color: lightgreen;
    padding: 10px;
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
nav a {
    text-decoration: none;
}
