*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  /* color: white; */
}
.tittle{
  text-align: center;
  font-size: 45px;
}
body{
  background-color:#646464;
}
a{
  color: white;
}

.MuiPaper-root{
  background-color: #525252 !important;
}
.cnt {
  display: flex !important;
  justify-content: center;
  gap: 20px;
}
h2#NewCat{
  /* padding: 20px; */
  text-align: center;
  padding-bottom: 15px;
}